
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/tables';

.custom-admin{
  color: black !important;
  .btn-group{
    a{
      height: 35px;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .table .thead-dark th {
    color: #fff !important;
    background-color: #212529 !important;
    border-color: #32383e !important;
  }
}